<h3>{{"rectuiter.recruiter-assesment.label" | translate}}:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">{{"rectuiter.recruiter-assesment.english" | translate}}: 1/4
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.recruiter-assesment.communicationSkills" | translate}}:2/4
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.recruiter-assesment.abilityToListen" | translate}}: 3/4</mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.recruiter-assesment.selfConfidence" | translate}}: 4/4
    </mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline">
    <mat-label>{{"rectuiter.interviewer-assesment.comment" | translate}}</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
