<h3>{{"rectuiter.interviewer-assesment.label" | translate}}:</h3>
<hr>
<div class="tech-div">
  <mat-list role="list">
    <mat-list-item role="listitem">HTML:
      <span><input class="input-text" type="text">/5</span>
    </mat-list-item>
    <mat-list-item role="listitem">CSS:
      <span><input class="input-text" type="text">/5</span>
    </mat-list-item>
    <mat-list-item role="listitem">JavaScript:
      <span><input class="input-text" type="text">/5</span>
    </mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline">
    <mat-label>{{"rectuiter.interviewer-assesment.comment" | translate}}</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
