:host {
  position: relative;
  margin-top: 2.3rem;
}

h3 {
  margin-left: 4rem;
  margin-bottom: 0rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e90cf;
}

hr {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 3rem;
  height: .15rem;
  border: none;
  color: #1e90cf;
  background-color: #1e90cf;
}

.tech-div {
  margin-bottom: 40px;
  padding-bottom: 10px;
}

div {
  display: flex;
  justify-content: space-between;
  max-height: 9rem;


  span {
    margin-left: 1rem;
  }

  textarea {
    height: 6.5rem;
  }
}

.mat-form-field {
  width: 20rem;
}

.input-text {
  width: 20px;
}
