.header__user
{
	display: inherit;
	justify-content: right;
	align-items: center;

	&-wrapper
	{
		display: inherit;
		align-items: center;
	}

	.name
	{
		margin-right: 1rem;
		color: #1E90CF;
		font-weight: bold;
		text-transform: uppercase;
	}

	.guest
	{
		@extend .name;
		margin-right: 0;
	}

	.avatar img
	{
		height: 2rem;
		width: 100%;
		border-radius: 50%;
	}
}