.container
{
	justify-content: space-between;
  	align-items: center;

	.header__logo
	{
		display: inherit;

		& img
		{
			height: 2rem;
			width: 100%;
		}
	}

	.header__wrapper
	{
		display: inherit;
		align-items: center;
	}
}
