.container
{
	justify-content: space-between;
  	align-items: center;

	.header__logo
	{
		display: inherit;

		& img
		{
			height: 2rem;
			width: 100%;
		}
	}

	.header__wrapper
	{
		display: inherit;
		align-items: center;
	}
}
.mat-form-field {
  width: 7rem;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0;
  }

  ::ng-deep .mat-form-field-flex {
    background: transparent;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

