* {
  box-sizing: border-box;
}

.container_form {
  margin: 30px 15px;
}

h2 {
  font-size: 34px;
  color: #1e90cf;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: center;
}

.form.intern {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 100%;
  }

  .mat-error {
    font-size: 12px;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 0px;
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;
    -webkit-text-fill-color: #333;
  }

  .wrapperCheckBox {
    width: 100%;
    display: flex;
    margin: 25px 0px 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    span {
      display: block;
      white-space: normal;
      margin-left: 10px;
    }

    a {
      text-decoration: none;
      color: #1e90cf;
    }

    .errorCheckBox {
      position: absolute;
      font-size: 12px;
      top: 75%;
      left: 35px;
      color: #f44336;
      opacity: 0;
      transition: 0.1s;
    }
    .errorCheckBox.active {
      top: 95%;
      opacity: 1;
      transition: 0.5s;
    }
  }

  .mat-raised-button {
    padding: 0px 35px;
    background-color: #1e90cf;
  }

  .wrapperCv {
    margin-left: 45px;
    cursor: pointer;
  }

  .buttonCv {
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 30%);
    position: relative;

    p {
      white-space: nowrap;
      padding: 10px 35px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0px;
    }
  }

  .buttonCv:hover::after{
    content: attr(data-title);
    // width: 70%;
    // margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }

  .wrapper_location {
    width: 100%;

    display: flex;
  }
  .wrapper_country {
    width: 100%;
    margin-right: 5px;
  }

  .wrapper_city {
    width: 100%;
    margin-left: 5px;
  }
}

.wrapper_terms {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.363);
  top: 0;
  left: 0;
  transform: 0.3s;

  .wrapper_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ffffff;
    padding: 40px 20px 40px 30px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
    border-radius: 5px;
  }

  p {
    margin-bottom: 40px;
  }
}

.wrapper_terms.disable {
  display: none;
}
