<div class="container_form">
  <h2>Fill out the form</h2>

  <form class="form intern" #internForm="ngForm">

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" name="firstName" #firstName="ngModel" required
        [(ngModel)]="intern.firstName" />
      <mat-error *ngIf="firstName.hasError('required')">First name must be specified</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput name="lastName" #lastName="ngModel" required [(ngModel)]="intern.lastName" />
      <mat-error *ngIf="lastName.hasError('required')">Last name must be specified</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name="email" #email="ngModel" required [(ngModel)]="intern.email" placeholder="ex@ex.ex"
        [pattern]="validEmail" />
      <mat-error *ngIf="email.hasError('required')">Email must be specified</mat-error>
      <mat-error *ngIf="email.hasError('pattern')">Incorrect email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Skype</mat-label>
      <input matInput name="skype" #skype="ngModel" required [(ngModel)]="intern.skype" placeholder="@Skype" />
      <mat-error *ngIf="skype.hasError('required')">Skype must be specified</mat-error>
    </mat-form-field>

    <div class="wrapper_location">
      <div class="wrapper_country">
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select [(ngModel)]="intern.location" name="location" #location="ngModel" required>
            <mat-option *ngFor='let key of isLocation' [value]="key">{{key}}</mat-option>
          </mat-select>
          <mat-error *ngIf="location.hasError('required')">Location must be specified</mat-error>
        </mat-form-field>
      </div>

      <div class="wrapper_city">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select [(ngModel)]="intern.city" name="city" #locationCity="ngModel" required>
            <mat-option *ngFor='let key of isLocationCity' [value]="key">{{key}}</mat-option>
          </mat-select>
          <mat-error *ngIf="locationCity.hasError('required')">City must be specified</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="tel" name="phone" #phone="ngModel" required [(ngModel)]="intern.phone"
        placeholder="+123 45 678 91 23" pattern="[+]{1}[0-9]{12,14}" />
      <mat-error *ngIf="phone.hasError('required')">Phone must be specified</mat-error>
      <mat-error *ngIf="phone.hasError('pattern')">+123 45 678 91 23</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Specialization</mat-label>
      <mat-select [(ngModel)]="intern.specialization" name="specialization" #specialization="ngModel" required>
        <mat-option *ngFor='let key of isSpecialization' [value]="key">{{key}}</mat-option>
      </mat-select>
      <mat-error *ngIf="specialization.hasError('required')">Specialization must be specified</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English level</mat-label>
      <mat-select [(ngModel)]="intern.english" name="englishLevel" #englishLevel="ngModel" required>
        <mat-option *ngFor='let key of isEnglishlevel' [value]="key">{{key}}</mat-option>
      </mat-select>
      <mat-error *ngIf="englishLevel.hasError('required')">English level must be specified</mat-error>
    </mat-form-field>

    <div class="wrapperCheckBox">

      <mat-checkbox class="checkbox" name="checkbox" #checkbox2="ngModel" [(ngModel)]="intern.checkbox" color="primary"
      (click)="toggleClassCheckBox()" required>
        <span>
          accept the terms of processing and storage of the provided data
          <a href="#">link to the terms</a>
        </span>
      </mat-checkbox>
      <p [class]="errorCheckBox">Checkbox must be specified</p>

      <div class="wrapperCv">
        <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)"
          accept=".pdf" />
        <div class="buttonCv" (click)="csvInput.click()"><p>Add your CV (PDF)</p></div>
      </div>
    </div>


    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="clickSubmit(internForm)">Submit</button>
    </div>

  </form>
</div>
