:host {
  position: relative;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
h3 {
  margin-left: 4rem;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e90cf;
}

hr {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 3rem;
  height: .15rem;
  border: none;
  color: #1e90cf;
  background-color: #1e90cf;
}

div {
  display: flex;
  max-height: 12rem;

  input {
    width: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    text-align: center;
  }

  textarea {
    height: 8.4rem;
  }

  p {
    width: 20rem;
    margin-top: 1.2rem;
    margin-left: 5rem;
  }
}

.mat-form-field {
  width: 20rem;
  margin-top: 1.2rem;
  margin-left: 5rem;
}
