<h3>{{"recruiter.assessment.title" | translate}}:</h3>
<hr>
<div *ngIf="(activeUser !=='techInterviewer' && activeUser !== 'mentor') else techBlock">
  <form (change)="onChange()">
    <mat-list role="list">
      <mat-list-item role="listitem">
        {{"recruiter.assessment.english" | translate}}:
        <span>
          <input name="input" [(ngModel)]="assessmentsRecruiter['englishLevel']" type="text">/4
        </span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.communicationSkills" | translate}}:
        <span>
          <input name="input" [(ngModel)]="assessmentsRecruiter['communicationSkills']" type="text">/4
        </span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.abilityToListen" | translate}}:
        <span>
          <input name="input" [(ngModel)]="assessmentsRecruiter['abilityToListen']" type="text">/4
        </span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.selfConfidence" | translate}}:
        <span>
          <input name="input" [(ngModel)]="assessmentsRecruiter['selfConfidence']" type="text">/4
        </span>
      </mat-list-item>
    </mat-list>
    <mat-form-field appearance="outline">
      <mat-label>{{"recruiter.assessment.comment" | translate}}</mat-label>
      <textarea name="text" [(ngModel)]="assessmentsRecruiter['comment']" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<ng-template #techBlock>
  <div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        {{"recruiter.assessment.english" | translate}}: <span>1/4</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.communicationSkills" | translate}}: <span>2/4</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.abilityToListen" | translate}}: <span>3/4</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        {{"recruiter.assessment.selfConfidence" | translate}}: <span>4/4</span>
      </mat-list-item>
    </mat-list>
    <p>Recruiter comment</p>
  </div>
</ng-template>
