<form class="candidate-form" [formGroup]="filterForm">

  <mat-form-field>
    <mat-label>English Level</mat-label>
    <mat-select formControlName="englishLevel">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let option of englishLevelOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
  </mat-form-field>

</form>

