<h3>{{"recruiter.candidate-data.label" | translate}}:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">{{"recruiter.candidate-data.firstName" | translate}}
      <span>{{ selectedCandidate.firstName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.location" | translate}}
      <span>{{ selectedCandidate.location }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.phone" | translate}}
      <span>{{ selectedCandidate.phone }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.specialization" | translate}}
      <span>{{ selectedCandidate.specialization }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.lastName" | translate}}
      <span>{{ selectedCandidate.lastName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.email" | translate}}
      <span>{{ selectedCandidate.email }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.skype" | translate}}
      <span>{{ selectedCandidate.skype }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.candidate-data.englishLevel" | translate}}
      <span>{{ selectedCandidate.englishLevel }}</span>
    </mat-list-item>
  </mat-list>
</div>
