<h3>{{"rectuiter.candidate-data.label" | translate}}:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.firstName" | translate}}
      <span>{{ candidate.firstName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.location" | translate}}
      <span>{{ candidate.location }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.phone" | translate}}
      <span>{{ candidate.phone }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.specialization" | translate}}
      <span>{{ candidate.specialization }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.lastName" | translate}}
      <span>{{ candidate.lastName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.email" | translate}}
      <span>{{ candidate.email }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.skype" | translate}}
      <span>{{ candidate.skype }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">{{"rectuiter.candidate-data.englishLevel" | translate}}
      <span>{{ candidate.englishLevel }}</span>
    </mat-list-item>
  </mat-list>
</div>
