:host {
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  hr {
    margin-top: .5rem;
    border: none;
    background-color: #1e90cf;
    color: #1e90cf;
    height: .05rem;
  }
}
