<h3>{{"recruiter.interviewer-assesment.label" | translate}}:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">HTML:
      <span>5/5</span>
    </mat-list-item>
    <mat-list-item role="listitem">CSS:
      <span>4/5</span>
    </mat-list-item>
    <mat-list-item role="listitem">JavaScript:
      <span>3/5</span>
    </mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline">
    <mat-label>{{"recruiter.interviewer-assesment.comment" | translate}}</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
