:host {
  margin-top: 1rem;
}

h3 {
  font-size: 1.8rem;
  color: #1e90cf;
}

div {
  display: flex;
  max-height: 9rem;

  ul {
    list-style-type: none;

    li:not(:first-child) {
      margin-top: 1rem;
    }

    li {
      font-size: 1rem;

      span {
        margin-left: 1rem;
      }
    }
  }

  textarea {
    min-width: 20rem;
    margin-left: 12.2rem;
    border: none;
    outline: none;
    resize: none;
    text-indent: 1rem;
  }
}