<div class="candidates">
  <div class="tabs">
    <button *ngFor="let tab of tabs" (click)="filterCandidatesWithSpecialisation(tab)" [class.active-tab]="tab===activeTab">
      {{ tab.toUpperCase() }}
    </button>
  </div>
  <ul>
    <div class="filters">
      <span *ngFor="let filter of filters" (click)="filterCandidatesWithSolution(filter)" [class.active-filter]="filter===activeFilter">{{ filter }}</span>
    </div>
    <li 
      *ngFor="let candidate of resultedArray" 
      (click)="selectCandidate(candidate.id)" 
      [ngClass]="candidate.isActive ? 'active' : ''">
      {{ candidate.firstName }} {{ candidate.lastName }}
      <span *ngIf="candidate.solution" [ngClass]= "{'color-red': candidate.solution === 'declined', 'color-green': candidate.solution === 'accepted', 'color-blue': candidate.solution === 'questionable'}">{{ candidate.solution }}</span>
    </li>
  </ul>
</div>
