<div>
  <app-candidates-filter *ngIf="activeUser !== 'techInterviewer'" (filterChanged)="onFilterChange($event)"></app-candidates-filter>
  <app-candidates-list *ngIf="activeUser !=='techInterviewer' else techBlock"
    [candidates]="candidatesList$ | async"
    [pageOfCandidates]="pageOfCandidates"
    (changePage)="onPageChange($event)">
  </app-candidates-list>
  <ng-template #techBlock>
    <app-candidates-list
      [candidates]="candidatesList$ | async | filterByStatus"
      [pageOfCandidates]="pageOfCandidates"
      (changePage)="onPageChange($event)">
    </app-candidates-list>
  </ng-template>
</div>
