<div>
  <app-candidates-filter *ngIf="activeUser !== 'tech-interviewer'" (filterChanged)="onFilterChange($event)"></app-candidates-filter>
  <app-candidates-list *ngIf="activeUser !=='tech-interviewer' else techBlock"
    [candidates]="candidatesService.candidatesList$ | async"
    [pageOfCandidates]="pageOfCandidates"
    [selectedCandidate]="selectedCandidate"
    (selectCandidate)="onCandidateSelect($event)"
    (changePage)="onPageChange($event)">
  </app-candidates-list>
  <ng-template #techBlock>
    <app-candidates-list
      [candidates]="candidatesService.candidatesList$ | async | filterByStatus"
      [pageOfCandidates]="pageOfCandidates"
      [selectedCandidate]="selectedCandidate"
      (selectCandidate)="onCandidateSelect($event)"
      (changePage)="onPageChange($event)">
    </app-candidates-list>
  </ng-template>
</div>
