<router-outlet></router-outlet>

<header class="header">
	<div class="container">
		<div class="header__logo">
			<img src="../assets/images/logo.png" alt="Logo">
		</div>
		<div class="header__user">
			<div class="name">{{user | uppercase}}</div>
			<div class="avatar">
				<img src="../assets/images/avatar.jpg" alt="Avatar">
			</div>
		</div>
	</div>
</header>

<main class="main">
	<!--Сюда рендрим компоненты ролей ( которые тоже будем делить на компоненты )-->
	<!-- <app-candidates></app-candidates>
	<app-candidates-view></app-candidates-view> -->
	<app-recruter></app-recruter>
</main>

<footer class="footer">
	<div class="container">
		<div class="footer__povered">Povered by [Team3] Oct2021 Exadel Internship JS&.NET&BA</div>
	</div>
</footer>

