.header
{
	width: 100%;
	height: 4rem;
	background-color: #f0f0f0;

	.container
	{
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo
{
	display: inherit;

	& img
	{
		height: 2rem;
		width: 100%;
	}
}

.header__user
{
	display: inherit;
	justify-content: right;
	align-items: center;

	.name
	{
		margin-right: 1rem;
		color: #1E90CF;
		font-weight: bold;
	}

	.avatar img
	{
		height: 2rem;
		width: 100%;
		border-radius: 50%;
	}
}

.main
{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__content
{
	color: #1E90CF;
	font-weight: bold;
	font-size: 30rem;
}

.footer
{
	width: 100%;
	height: 4rem;
	background-color: #f0f0f0;
	align-self: flex-end;

	.container
	{
		align-items: center;
		justify-content: center;
	}
}


.footer__povered
{
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
}