<router-outlet></router-outlet>

<header class="header">
	<div class="container">
		<div class="header__logo">
			<img src="../assets/images/logo.png" alt="Logo">
		</div>
		<div class="header__user">
			<div *ngIf="user === 'recruter'" class="header__user-wrapper">
				<div class="name">{{user | uppercase}}</div>
				<div class="avatar">
					<img src="../assets/images/avatar.jpg" alt="Avatar">
				</div>
			</div>

			<div *ngIf="user === 'interviewer'" class="header__user-wrapper">
				<div class="name">{{user | uppercase}}</div>
				<div class="avatar">
					<img src="../assets/images/avatar.jpg" alt="Avatar">
				</div>
			</div>

			<div *ngIf="user === 'mentor'" class="header__user-wrapper">
				<div class="name">{{user | uppercase}}</div>
				<div class="avatar">
					<img src="../assets/images/avatar.jpg" alt="Avatar">
				</div>
			</div>

			<div *ngIf="user === 'manager'" class="header__user-wrapper">
				<div class="name">{{user | uppercase}}</div>
				<div class="avatar">
					<img src="../assets/images/avatar.jpg" alt="Avatar">
				</div>
			</div>

			<div *ngIf="user === 'admin'" class="header__user-wrapper">
				<div class="name">{{user | uppercase}}</div>
				<div class="avatar">
					<img src="../assets/images/avatar.jpg" alt="Avatar">
				</div>
			</div>

			<div *ngIf="user === 'guest'" class="guest">{{title | uppercase}}</div>

		</div>
	</div>
</header>

<main class="main">
	<div class="container">
		<!--Сюда рендрим компоненты ролей ( которые тоже будем делить на компоненты )-->

    <app-form></app-form>

	</div>
</main>

<footer class="footer">
	<div class="container">
		<div class="footer__povered">Povered by [Team3] Oct2021 Exadel Internship JS&.NET&BA</div>
	</div>
</footer>

