html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

div {
  min-height: 40rem;
  min-width: 25rem;
  max-height: 40rem;
  overflow-y: scroll;
}
