::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #cccccc00;
  scroll-snap-align: start;
}

.example-section:hover::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

::-webkit-scrollbar {
  width: 3px;
}



.container_settings_form {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  h3{
    color:#0080CA;
    text-transform: uppercase;
    font-weight: 500;
  }

  .border_wrapper{
    width: 32.33%;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 20px 0px;
    margin-bottom: 20px;

  }

  .wrapper_settings_form {
    height: 265px;
    overflow-y: hidden;
    transition: 0.3s;
    margin: auto;
    background-color: #ffffff;
  }

  .example-section{
    overflow-y: scroll;
    height: 245px;
    padding: 10px 20px;
  }

  button {
    width: 150px;
    margin: auto;
  }

  ul {
    list-style-type: none;
    margin-top: 4px;

  }

  li {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
  }

  li:hover {
    border-color: #0080CA;
  }

  ul>li:last-child {
    margin-bottom: 0px;
  }

  button{
    background-color: #0080CA;
  }

  .mat-checkbox>span{
    color: #0080CA;
  }

  .example-margin {
    margin-left: 50px;
  }

}
