<mat-form-field appearance="fill">
	<mat-label>Select mentor...</mat-label>
	<mat-select multiple [(value)]="selectedMentors">
		<mat-option *ngFor="let mentor of mentors" [value]="mentor">
			{{mentor.email}} 
		</mat-option>
	</mat-select>
</mat-form-field>

<mat-list role="list">
	<mat-list-item role="listitem">{{selectedCandidates.firstName + " " + selectedCandidates.lastName}}</mat-list-item>
</mat-list>

<button mat-stroked-button (click)="setNotify()">SUBMIT & NOTIFY</button>

<!-- <mat-select-trigger>
			{{toppings.value ? toppings.value[0] : ''}}
			<span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
				(+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
			</span>
		</mat-select-trigger> -->