
<div class="wrapper">
   <div class="row">
      <div class="col-3"> <app-candidates-view></app-candidates-view></div>
  <div class="col-7">
   <div class="target-candidate">
      <h1 class="h1">The target candidates</h1>
      <div class="form-data">
         <h2 class="h2">Form data:</h2>
         <div class="first-name">First name:{{candidates[0].firstName}}</div>
         <div class="first-name">Last name:{{ candidates[0].lastName }}</div>
         
</div>
</div> 
</div>
   
</div> 
































