<h3>FORM DATA:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">First name
      <span>{{ candidate.firstName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Location
      <span>{{ candidate.location }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Phone
      <span>{{ candidate.phone }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Specialization
      <span>{{ candidate.specialization }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Last name
      <span>{{ candidate.lastName }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Email
      <span>{{ candidate.email }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">Skype
      <span>{{ candidate.skype }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">English level
      <span>{{ candidate.englishLevel }}</span>
    </mat-list-item>
  </mat-list>
</div>
