<div class="mentor-container">
  <mat-tab-group class="label">
    <mat-tab class="list-label" label="My team">
      <mat-list class="users-list">
        <mat-list-item class="user-item" *ngFor='let user of users' (click)="chooseUser(user)">
          {{ user.name }}
          <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group *ngIf="user !== null; else forelse " class="wraper-2">
    <mat-tab label="PARTICIPANT’S PROFILE">
      <h2 class="title">The target participant</h2>
    </mat-tab>
    <mat-tab label="ASSESSMENT">
      <h2 class="title">Feedback on the internship</h2>
      <div class="rating-value">
        <ng-rating-bar [(value)]="value" [ratingCount]="10"></ng-rating-bar>
        <p class="">Final grade {{ value }} /10</p>
      </div>
      <form (ngSubmit)="onClick()">
        <textarea [(ngModel)]="finalReviw" cols="100" rows="15" name="reviw"></textarea>
        <button mat-raised-button color="primary">Send</button>
      </form>
    </mat-tab>
  </mat-tab-group>
  <ng-template #forelse class="else">
    please choose user
  </ng-template>

</div>
