<h3>SOFT SKILLS:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">English: <input type="text">/4</mat-list-item>
    <mat-list-item role="listitem">Communication skills: <input type="text">/4</mat-list-item>
    <mat-list-item role="listitem">Ability to listen: <input type="text">/4</mat-list-item>
    <mat-list-item role="listitem">Self-confidence: <input type="text">/4</mat-list-item>
  </mat-list>
  <mat-form-field appearance="fill">
    <mat-label>Leave your comment here</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
