<h3>{{"recruiter.recruiter-assesment.label" | translate}}:</h3>
<hr>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem">{{"recruiter.recruiter-assesment.english" | translate}}: <input type="text">/4
    </mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.recruiter-assesment.communicationSkills" | translate}}: <input
        type="text">/4</mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.recruiter-assesment.abilityToListen" | translate}}: <input
        type="text">/4</mat-list-item>
    <mat-list-item role="listitem">{{"recruiter.recruiter-assesment.selfConfidence" | translate}}: <input type="text">/4
    </mat-list-item>
  </mat-list>
  <mat-form-field appearance="outline">
    <mat-label>{{"recruiter.interviewer-assesment.comment" | translate}}</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
