/* You can add global styles to this file, and also import other style files */
*
{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	// font-family: 'Roboto Mono', monospace;

	box-sizing: border-box;
}

.app-root
{
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container
{
	max-width: calc(1200px + 1rem);
	width: 100%;
	height: 100%;
	padding: 0 1rem;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

// html, body 
// { 
// 	height: 100%; 
// }

// body 
// { 
// 	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
// }

// html, body 
// { 
// 	height: 100%; 
// }

// body 
// { 
// 	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
// }
